@{
    ViewData["Title"] = "Vs Mode";
}

@model VsGroup

<div class="text-center">
    <h1 class="display-4">Vs Mode</h1>
    <h2 class="display-4">@Model.FileNameA Vs @Model.FileNameB</h2>
</div>

<div>
    <table class="table table-bordered table-hover">
        <tr>
            <th>Group A</th>
        </tr>
        <tr>
            <th>Username</th>
            <th>Name</th>
            <th>Honor</th>
        </tr>

        @foreach (var user in Model.GroupA.UserGroup)
        {
            <tr class="text-center">
                <td>@user.Username</td>
                <td>@user.Name</td>
                <td>@user.Honor</td>
            </tr>
        }
    </table>
</div>

<div>
    <table class="table table-bordered table-hover">
        <tr>
            <th>Group B</th>
        </tr>
        <tr>
            <th>Username</th>
            <th>Name</th>
            <th>Honor</th>
        </tr>

        @foreach (var user in Model.GroupB.UserGroup)
        {
            <tr class="text-center">

                <td>@user.Username</td>
                <td>@user.Name</td>
                <td>@user.Honor</td>
            </tr>
        }
    </table>
</div>